body, html {
    font-family: 'Poppins', sans-serif;
}
.banner__topbar__section {
    background-color: #060649;
    position: relative;
}
.custom__breadcrumb .breadcrumb {
    margin-bottom: 0;
}
.custom__breadcrumb .breadcrumb a, .custom__breadcrumb .breadcrumb li {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: rgba(255,255,255,0.3);
}
.custom__breadcrumb__topbar {
    border-bottom: 1px solid #50507F;
    padding: 13px 0px 8px;
}
.custom__breadcrumb .breadcrumb li {
    color: rgba(255,255,255,1);
    font-weight: 400;
}
/* .multiple-items {
    padding-bottom: 13px;
} */
.multiple-items .slick-arrow {
    display: none !important;
}
.multiple-items ul.slick-dots {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    /* margin-top: 35px; */
}
.multiple-items ul.slick-dots button {
    background: transparent;
    border: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 0;
    position: relative;
}
.multiple-items ul.slick-dots button::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #D9D9D9;
    border-radius: 50%;
    display: inline-block;
}
.multiple-items ul.slick-dots .slick-active button::before {
    background: #7090FF;
}
.slider__content--title {
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
    color: #fff;
    font-size: 24px;
}
.service--btn {
    display: inline-flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    background-color: #3C65F3;
    border-radius: 50px;
    padding: 7px 10px 7px 21px;
    text-decoration: none;
    line-height: 36px;
}
.service--btn:hover, .service--btn:focus {
    background-color: #3058e7;
    outline: none;
    color: #fff;
}
.service--btn .circle--shape {
    background-color: #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin-left: 10px;
}
.banner__slider__section {
    padding-top: 40px;
    position: relative;
}
img.shape__logo {
    position: absolute;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    right: 0;
}
.shape__man {
    position: relative;
    z-index: 1;
    max-width: 65%;
    display: none !important;
    margin: auto;
}
.maxw--100 {
    max-width: 100%;
}
.slider__larger {
    z-index: 1;
}
.addressBox--title {
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
    color: #090989;
    font-size: 20px;
    position: relative;
    padding-bottom: 10px;
}
.addressBox--title::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 25%;
    height: 7px;
    border-radius: 15px;
    background: currentColor;
}
.map__section {
    padding: 30px 0px;
}
.addressBox--text {
    font-weight: 400;
    color: #4C5A6B;
    margin: 0;
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.5;
}
.addressBox ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 25px;
}
.addressBox ul li {
    margin: 0;
    color: rgba(76, 90, 107, 1);
    line-height: 1.3;
    position: relative;
    padding-left: 50px;
    font-size: 15px;
    padding-top: 5px;
}
.addressBox ul li span {
    position: absolute;
    left: 0;
    top: 0;
}
.addressBox ul li a {
    color: rgba(76, 90, 107, 1);
    text-decoration: none;
    font-weight: 400;
    display: inline-block;
}
.addressBox.text-white ul li a, .addressBox.text-white ul li {
    color: #fff;
}
.addressBox ul li + li {
    margin-top: 30px;
}
.before--none::before {
    display: none;
}
.form__auth--text {
    font-size: 15px;
    line-height: normal;
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(212, 212, 255, 1);
    width: 100%;
    border-radius: 0px;
    padding: 10px 0px 5px;
    color: rgba(60, 101, 243, 1);
}
.form__auth--text:focus {
    border-bottom-color: rgba(60, 101, 243, 1);
    outline: none;
}
.form__auth--label {
    font-size: 15px;
    font-weight: 500;
    color: rgba(76, 90, 107, 1);
    position: absolute;
    left: 0px;
    top: 10px;
    transition: all 0.2s;
    pointer-events: none;
}
.form__auth__control {
    position: relative;
    margin-top: 30px;
}
.form__auth--text:focus + .form__auth--label {
    top: -15px;
    font-weight: 600;
}
.form__auth--text.text--full + .form__auth--label {
    top: -15px;
    font-weight: 600;
    color: rgba(9, 9, 77, 1);
}
.form__auth--label sub {
    color: red;
}
.maxw--1170 {
    max-width: 1170px;
}
.radio--label {
    color: rgba(76, 90, 107, 1);
    font-weight: 500;
    margin: 0;
    font-size: 14px;
}
.btn--submit {
    background: rgba(60, 101, 243, 1);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 10px 35px;
    min-width: 200px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}
.form-check-label {
    font-size: 15px;
}
.btn--submit:hover {
    background: rgb(50, 90, 236);
    color: #fff;
}
.loginbg__wrapper {
    background-color: #060649;
    min-height: 300px;
}
.login__wrapperBox {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    padding: 30px;
}
.mt-ng-250 {
    margin-top: -250px;
}
.login_slider_content {
    position: relative;
    min-height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
}
.login_slider_contenttext {
    position: relative;
    padding: 0px 15px;
    z-index: 1;
}
.login_slider_contentimg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.login_slider_contenttext h4 {
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    margin: 0;
    text-align: center;
}
.login_slider_contenttext p {
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    margin: 0;
    text-align: center;
    margin-top: 1rem;
}
.login_slider_contentlayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #0A0A44 90.1%);
    z-index: 1;
}
.layer--alter.login_slider_contentlayer {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #0A0A44 90.1%);
}
.login_slider_outer {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}
.login_thumbcontent--text {
    font-size: 22px;
    color: rgba(9, 9, 137, 1);
    font-weight: 600;
    margin: 0;
    position: relative;
    padding-bottom: 10px;
}
.login_thumbcontent--text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 130px;
    background: rgba(9, 9, 137, 1);
    height: 4px;
    border-radius: 12px;
}
.signup--text {
    color: rgba(76, 90, 107, 1);
    font-size: 16px;
    margin: 0;
    font-weight: 400;
    margin-top: 20px;
}
.signup--text a {
    font-weight: 600;
    color: rgba(9, 9, 137, 1);
    display: inline-block;
    text-decoration: none;
}
.signup--text a:hover {
    color: #060670;
    text-decoration: none;
}
.forgot--link {
    color: rgba(60, 101, 243, 1);
    text-decoration: none;
    font-weight: 400;
    display: inline-block;
    font-size: 15px;
}
.forgot--link:hover {
    text-decoration: none;
    color: rgb(38, 76, 214);
}
.login__wrapperBox .multiple-items ul.slick-dots {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 0;
    right: 0;
}
.listbox__wrapper {
    text-align: center;
    margin-bottom: 30px;
}
.listbox__wrapper__img {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 15px;
    height: 250px;
    overflow: hidden;
}
.listbox__wrapper__img img { 
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.listbox__wrapper--title {
    color: rgba(9, 9, 77, 1);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    line-height: 1.3;
    margin-top: 1rem;
}
.text--primary {
    color: rgba(9, 9, 77, 1);
}
.text--bright {
    color: #090989;
}
.subheading--text {
    font-weight: 400;
    color: rgba(76, 90, 107, 1);
    line-height: 1.5;
    font-size: .875rem;
    margin-bottom: 0;
}
.maxw--1000 {
    max-width: 1000px;
}
.filter--btn {
    position: fixed;
    z-index: 2;
    bottom: 10px;
    background: #090989;
    color: #fff;
    padding: 6px 12px;
    border-radius: 25px;
    font-size: 14px;
    display: inline-block;
    right: 15px;
    border: 0px;
}
.filter-bg {
    background: #fff;
    padding: 15px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: .2s all;
    overflow-y: auto;
}
.filter-innerbg {
    border: 1px solid #D4D4FF;
    border-radius: 20px;
    padding: 0px 15px;
    background: #fff;
}
.display3--heading {
    color: rgba(9, 9, 77, 1);
    font-weight: 600;
    margin-bottom: 0;
    font-size: 1.25rem;
}
.filter-offcanvas .filter-bg {
    transform: translateX(0);
}
.radio--values .form-check-label {
    color: rgba(76, 90, 107, 1);
    font-weight: 500;
}
.filter-innerbg .accordion-button {
    border: 0;
    background: transparent;
    box-shadow: none;
    font-size: 17px;
    font-weight: 600;
    color: rgba(9, 9, 77, 1);
    padding: 0;
}
.filter-innerbg .accordion-item {
    border: 0;
    padding-bottom: 30px;
    padding-top: 30px;
}
.filter-innerbg .accordion-body {
    padding: 0px;
    padding-top: 20px;
}
.radio--values .form-check-input:checked[type=radio] {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%233C65F3'/%3e%3c/svg%3e");
}
.radio--values .form-check-input:checked {
    background-color: transparent;
    border-color: #3C65F3;
}
.radio--values .form-check-input {
    border-color: #09094D;
}
.noUi-target {
    box-shadow: none;
    border: 0;
    background-color: #D4D4FF;
    border-radius: 10px;
}
.noUi-horizontal {
    height: 5px;
}
.noUi-horizontal .noUi-handle {
    box-shadow: none;
    background-color: #3C65F3;
    width: 14px;
    height: 14px;
    right: -13px;
    top: -5px;
    border-radius: 50%;
    border: 0;
}
.noUi-handle:after, .noUi-handle:before {
    display: none;
}
.noUi-connect {
    background-color: #3C65F3;
}
.slider--value {
    color: #3C65F3;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: end;
    width: max-content;
    margin-left: auto;
    position: relative;
}
.slider--value::before {
    content: '$';
    margin-right: 2px;
}
.filter-innerbg .accordion-item + .accordion-item {
    border-top: 1px solid #D4D4FF;
}
.checkbox--values .form-check-input:checked {
    background-color: #3c65f3;
}
.checkbox--values .form-check + .form-check {
    margin-top: .5rem;
}
.page--resulttext {
    color: #4C5A6B;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}
.tabs--gridlist .nav-item button.nav-link {
    background: transparent;
    padding: 5px 10px;
}
.tabs--gridlist .nav-item button.nav-link.active svg rect {
    fill: #3C65F3
}
.product__descbox .listbox__wrapper__img .bg--pic {
    background-color: #F2F5FF;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
}
.product__descbox .listbox__wrapper__img .bg--pic > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    width: auto;
    width: auto;
    max-height: 80%;
    height: auto;
}
.product__descbox p.listbox__wrapper--title {
    margin-top: 7px;
    font-size: 14px;
}
.pagination {
    justify-content: center;
}
.pagination li.page-item {
    margin-right: 15px;
}
.pagination li.page-item a.page-link {
    border-radius: 4px;
    border-color: #D4D4FF;
    width: 36px;
    height: 36px;
    line-height: 35px;
    padding: 0;
    text-align: center;
    color: #D4D4FF;
    font-size: .875rem;
    font-weight: 600;
    box-shadow: none;
    background-color: transparent;
    outline: none;
}
.pagination li.page-item.prev a.page-link, .pagination li.page-item.next a.page-link {
    border-color: #09094D;
}
.pagination li.page-item.active a.page-link {
    background-color: #3C65F3;
    color: #fff;
    border-color: #3C65F3;
}
.slider__content--text  {
    color: #7090FF;
    margin: 0;
    font-size: 1.15rem;
    font-weight: 600;
}
.services-box {
    position: relative;
}
.services-box--text {
    position: absolute;
    bottom: -1px;
    left: -4px;
    border-radius: 0px 20px 0px 20px;
    background-color: #fff;
    padding: 12px 15px;
    color: #09094D;
    font-size: 14px;
    font-weight: 700;
}
.before--bar::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 130px;
    background: rgba(9, 9, 137, 1);
    height: 5px;
    border-radius: 12px;
}
.text--color {
    color: rgba(9, 9, 137, 1) !important;
}
.automobile__box {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}
.industry-servedpic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}
.z1 {
    z-index: 1;
}
.after--none::after {
    display: none;
}
.minh--320 {
    min-height: 340px;
}
.slick__automobile__box {
    position: relative;
    z-index: 1;
    max-width: 85%;
}
.slick__automobile__box::before, .slick__automobile__box::after {
    content: '';
    position: absolute;
    height: 80%;
    left: -15px;
    right: -15px;
    top: 0;
    bottom: 30px;
    border-radius: 20px;
    background: #38386D;
    margin: auto;
    display: block;
    z-index: -1;
}
.slick__automobile__box::after {
    height: 60%;
    left: -30px;
    right: -30px;
    background: rgba(255, 255, 255, 0.1);
}
.service-helptext {
    color: #09094D;
    font-size: 1rem;
    margin: 0;
    font-weight: 600;
    margin: 0;
    max-width: 540px;
}
.bdr--20 {
    border-radius: 20px;
}
.categorytab__wrapper__navs {
    margin-top: 1rem;
}
.categorytab__wrapper__navs .nav-pills {
    justify-content: center;
}
.categorytab__wrapper__navs .nav-pills .nav-link {
    color: #09094D;
    font-weight: 500;
    font-size: 15px;
    padding: 6px 21px;
    outline: none;
    box-shadow: none;
}
.categorytab__wrapper__navs .nav-pills .nav-link.active {
    border-radius: 50px;
    background: #3C65F3;
    color: #fff;
}
.min-h-auto {
    min-height: auto !important;
}
.maxw--500 {
    max-width: 500px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn).cs--select {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    display: block;
}
.cs--select button.btn.dropdown-toggle.btn-light {
    border-color: #D4D4FF;
    border-radius: 15px;
    padding: 8px 12px;
    background: #fff;
    outline: none !important;
}
.cs--select .filter-option-inner-inner img {
    width: 35px;
    margin-right: 10px;
}
.cs--select .filter-option-inner-inner span {
    color: #4C5A6B;
    font-weight: 400;
}
.cs--select .filter-option-inner-inner span b {
    color: #09094D;
}
.cs--select .dropdown-item.active, .cs--select .dropdown-item:active {
    background: #f2f5ff;
}
.cs--select ul.dropdown-menu.inner.show li a span img {
    width: 30px;
    margin-right: 10px;
}
.cs--select ul.dropdown-menu.inner.show li a span {
    color: #09208c;
    font-size: 12px;
    font-weight: 400;
}
.cs--select button.btn.dropdown-toggle.btn-light.show {
    border-radius: 15px 15px 0px 0px;
}
.cs--select .dropdown-menu.show {
    padding: 5px 0px;
    border-radius: 0px 0px 8px 8px;
}
.cs--select button.btn.dropdown-toggle.btn-light {
    border-color: #D4D4FF;
    border-radius: 15px;
    padding: 8px 25px 8px 15px;
    background: #fff;
    outline: none !important;
}
.cs--select button.btn.dropdown-toggle.btn-light::after {
    border-bottom: 2px solid #90a1b5;
    border-right: 2px solid #90a1b5;
    content: '';
    display: block;
    height: 9px;
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 9px;
    border-top: initial;
    border-left: initial;
}
.cs--select button.btn.dropdown-toggle.btn-light.show::after {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}
.easy_stepperbarbox {
    text-align: center;
    flex: 1;
    padding: 0 10px;
    position: relative;
}
.img_blankbox > img {
    width: 50px;
    height: 50px;
}
.easy_stepperbarbox p {
    color: #4C5A6B;
    margin: 0;
    margin-top: .75rem;
    font-size: .875rem;
    font-weight: 500;
}
.easy_stepperbar_outer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: -10px;
    margin-right: -10px;
}
/* .easy_stepperbarbox + .easy_stepperbarbox::before {
    content: '';
    position: absolute;
    left: -50%;
    width: 100%;
    height: 2px;
    background: #D4D4FF;
} */
.easy_stepperbarbox:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 50%;
    width: 100%;
    height: 2px;
    background: #D4D4FF;
}
.img_blankbox {
    background: #fff;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}
.equipmentbox_card {
    background: #F2F5FF;
    border-radius: 20px;
    padding: 1.5rem 1rem;
    padding-bottom: 0;
    position: relative;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.equipmentbox_card--img {
    max-width: 100%;
}
.equipmentbox_card--title {
    font-weight: 600;
    font-size: 22px;
    color: #09094D;
    margin: 0;
    max-width: 230px;
    text-align: start;
}
.equipmentbox_card--link {
    display: inline-flex;
    text-decoration: none;
    font-weight: 600;
    color: #3C65F3;
    font-size: .875rem;
    align-items: center;
}
.sunpro--list ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    margin-top: 1.25rem;
}
.sunpro--list ul li {
    position: relative;
    padding-left: 1.25rem;
    color: #09094D;
    font-weight: 600;
    margin: 0;
    line-height: 1.3;
    background-image: url('../image/polygon.svg');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: left 4px;
    font-size: 15px;
}
.sunpro--list.list--white ul li {
    color: #fff;
}
.sunpro--list ul li + li {
    margin-top: 1rem;
}
.cart_modal button.btn-close {
    background: transparent;
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
    width: 25px;
    height: auto;
    opacity: 1;
    box-shadow: none;
    outline: none;
}
.cart_modal button.btn-close svg {
    max-width: 100%;
}
.modal-header .modal-title {
    color: #09094D;
    font-weight: 600;
    margin: 0;
    font-size: 22px;
}
.shipping--text {
    font-weight: 600;
    color: #09094D;
    margin: 0;
    font-size: 1.125rem;
}
.calc--text {
    font-weight: 600;
    color: #4C5A6B;
    margin: 0;
    font-size: .875rem; 
}
.text--3C65F3 {
    color: #3C65F3 !important;
}
.cart_modal .product__descbox .listbox__wrapper__img .bg--pic {
    border-radius: 10px;
}
.cart_modal .listbox__wrapper__img {
    padding: 10px;
    height: 90px;
}
.delBtn {
    background: #F33C3C;
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 0;
    cursor: pointer;
    box-shadow: none;
    outline: none;
}
.delBtn:hover {
    background: #e23232;
}
.btn--continue {
    text-decoration: none;
    color: #09094D;
    font-weight: 600;
    margin: 0;
    outline: none;
    box-shadow: none;
    font-size: 15px;
    background: transparent;
}
.divider--line hr {
    margin: 0;
    color: #D4D4FF;
    opacity: 1;
}
.divider--line {
    position: relative;
    padding: 1.2rem 0rem;
    margin-top: 0.7rem;
}
.divider--line span {
    color: #D4D4FF;
    font-weight: 600;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    text-align: center;
    left: 50%;
    background: #fff;
}
.modal-content {
    border-radius: 20px;
}
.modal-backdrop {
    --bs-backdrop-opacity: 0.8;
}
.cs--nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
}
.cs--nav .navbar-brand {
    width: 60px;
}
.cs--nav .nav-link {
    color: #09094D !important;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
}
.cs--nav .nav-link.active {
    color: #3C65F3 !important;
}
.cs--nav .service--btn {
    padding-left: 10px;
    padding-right: 25px;
    line-height: 30px;
}
.cs--nav .service--btn .circle--shape {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 10px;
}
.cs--nav .service--btn .circle--shape svg {
    width: 13px;
}
button.navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
    width: 40px;
    height: 40px;
    padding: 0;
}
.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}
.mt--80 {
    margin-top: 80px;
}
.product__features .listbox__wrapper__img {
    height: auto;
}
.product__features .product__descbox .listbox__wrapper__img .bg--pic {
    height: 220px;
}
.cleaner--box {
    margin-top: -15px;
    text-align: right;
    position: relative;
    padding-right: 25px;
}
.cleaner--boxtag {
    background: #3C65F3;
    padding: 3px 15px;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
}
.sunpro_memberbox {
    padding: 15px 30px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 20px rgb(0 0 0 / 6%);
    border-radius: 8px;
    height: 130px;
    position: relative;
}
.sunpro_memberbox > img {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 80%;
    display: block;
    max-height: 100%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
}
.before--bar.text--white::before {
    background-color: #fff;
}
.cart_modal--sidebar.modal .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    transform: translate(50px,0px);
}
.cart_modal--sidebar .modal-dialog .modal-content {
    border-radius: 0;
    border: 0;
    height: 100%;
}
.cart_modal--sidebar.modal.show .modal-dialog {
    transform: none;
}
.model--no {
    color: #09094D;
    text-align: center;
    margin-top: 1rem;
    font-weight: 600;
    margin: 0;
    font-size: 1.5rem;
}
.nav-tabs.classic--tabs .nav-link {
    font-size: 12px;
    font-weight: 600;
    color: #09094D;
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    padding: 0.6rem;
}
.nav-tabs.classic--tabs .nav-link.active {
    background-color: #3C65F3;
    color: #fff;
} 
.nav-tabs.classic--tabs .nav-item {
    width: 50%;
}
.nav-tabs.classic--tabs {
    border-bottom: 0;
}
.classic--tabcontent {
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 20px 20px;
}
.tab--listitems ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 0rem;
}
.tab--listitems {
    padding: 1rem;
}
.tab--listitems h5 {
    font-size: 1.15rem;
    font-weight: 600;
    color: #4C5A6B;
    margin: 0;
}
.tab--listitems p {
    color: #4C5A6B;
    font-size: .875rem;
    margin: 7px 0px;
}
.tab--listitems span.bold_text {
    margin-right: 2px;
}
.tab--listitems h5 {
    font-size: 1.15rem;
    font-weight: 600;
    color: #090989;
    margin: 12px 0px;
    text-transform: capitalize;
}
.tab--listitems li {
    position: relative;
    padding-left: 1.5rem;
    background-image: url('../image/tick.png');
    background-repeat: no-repeat;
    background-position: left 5px;
    font-size: 1rem;
    color: #4C5A6B;
    font-weight: 400;
    margin: 0;
}
.tab--listitems li + li {
    margin-top: 1.25rem;
}
.tab--listbar {
    font-size: .875rem;
    color: #4C5A6B;
    font-weight: 400;
    background: #F2F5FF;
    padding: .875rem;
    border-radius: 0px 0px 20px 20px;
}
.tab--listbar strong {
    color: #09094D;
}
.table--row th {
    color: #09094D;
    font-size: 14px;
    font-weight: 600;
    border-color: #D4D4FF;
    padding: 12px 10px;
    min-width: 120px;
}
.table--row tr td {
    border-color: #D4D4FF;
    padding: 12px 10px 12px 10px;
    vertical-align: middle;
    color: #4C5A6B;
    font-size: 14px;
}
.tag--link {
    background: #F2F5FF;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    display: inline-flex;
    text-decoration: none;
    align-items: center;
}
.td--bold {
    color: #3C65F3 !important;
    font-weight: 700 !important;
}
.decreaseQty[disabled], .decreaseQty.disabled, .increaseQty[disabled], .increaseQty.disabled {
    background: hsla(0, 0%, 93%, 1);
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.decreaseQty, .increaseQty {
    background: var(--primary-color);
    width: 1rem;
    height: 1rem;
    outline: none;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    opacity: 1;
    cursor: pointer;
    font-size: 15px;
    color: var(--color-white);
    font-weight: 600;
    border: 0px;
    padding: 0;
    min-width: 32px;
    min-height: 25px;
    background: transparent !important;
    line-height: 26px;
    font-size: 17px;
}
.qtyValue {
    background: transparent;
    display: inline-block;
    width: 30px;
    height: auto;
    padding: 0rem;
    line-height: normal;
    font-weight: 500;
    font-size: 1rem;
    border: 0px;
    box-shadow: none;
    text-align: center;
    user-select: none;
    outline: none !important;
}
.number-style {
    color: #09094C;
    border: 1px solid #D4D4FF;
    border-radius: 50px;
    width: max-content;
    padding: 0px 0px;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
.decreaseQty {
    border-right: 1px solid #d4d4ff;
    border-radius: 0;
}
.increaseQty {
    border-left: 1px solid #d4d4ff;
    border-radius: 0;
}
.table--row tr td {
    min-width: 50px;
}
.table--row tr td:first-child {
    min-width: 100px;
    max-width: 100px;
}
.tag--link svg {
    max-width: 100%;
    max-height: 100%;
    width: 20px;
    display: block;
    margin: auto;
}
.table--row tr:hover {
    box-shadow: 0px 4px 20px rgb(0 0 0 / 6%);
    background: #fff;
}
.table--row tr:hover td {
    border-color: #3C65F3;
}
.table--row tr:hover td:first-child {
    border-top-left-radius: 20px;
}
.table--row tr:hover td:last-child {
    border-top-right-radius: 20px;
}
.tag--link:hover {
    background: #3C65F3;
}
.tag--link:hover svg path {
    fill: #ffffff;
}
.footer--container {
    padding: 30px 0px;
}
.footer--content a {
    color: #09094D;
    font-size: .875rem;
    font-weight: 400;
    text-decoration: none;
}
.footer--content [class^="col"] {
    position: relative;
}
.linkdin--text {
    color: #09094D;
    font-size: 1rem;
    font-weight: 400;
}
.linkdin--text a {
    text-decoration: none;
    color: #09094D;
    vertical-align: middle;
}
.v-align-middle {
    vertical-align: middle;
}
.mt--32 {
    margin-top: 2rem;
}
.footer--bg a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: .875rem;
}
.footer--bg {
    padding: 1rem 0rem;
    background: #060649;
}
.footer--bg--text {
    font-size: .875rem;
    margin: 0;
    line-height: normal;
    color: #fff;
}
.checkout--mart .listbox__wrapper__img {
    width: 120px;
    height: 110px;
}
.checkout__product__descbox {
    display: grid;
    grid-gap: 1rem;
    align-items: center;
}
.checkout--mart .number-style {
    margin-left: 0;
}
.checkout--mart {
    padding: 1rem;
    border: 1px solid #D4D4FF;
    border-radius: 30px;
}
.checkout__product__descbox + .checkout__product__descbox {
    margin-top: 1.5rem;
}
.after--small::after {
    width: 50px;
}
.discount__code--title {
    font-weight: 500;
    font-size: 16px;
    color: #09094D;
    margin: 0;
}
.bdr--border {
    padding-bottom: .5rem;
    border-bottom: 1px solid #3C65F3
}
.discount__code--name, .discount__code--appled {
    font-weight: 500;
    font-size: 14px;
    color: #3C65F3;
    display: block;
    margin: 0;
}
.checkout__product__total--text {
    font-weight: 500;
    font-size: 14px;
    color: #4C5A6B;
    display: block;
    margin: 0;
}
.checkout__product__total--amount {
    font-weight: 600;
    font-size: 14px;
    color: #09094D;
    display: block;
    margin: 0;
}
.danger {
    color: #F33C3C !important;
}
.text--3C65F3 {
    color: #3C65F3 !important;
    font-size: 20px;
}
.add__bill__address {
    font-weight: 500;
    font-size: 14px;
    background: transparent;
    outline: none;
    border: 0px;
    box-shadow: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
    color: #4C5A6B;
}
.exp__icon { 
    position: absolute;
    top: 5px;
    right: 0;
}
.custom__payment__box {
    border: 1px solid #D5D5FF;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    background: transparent;
    padding: 0.75rem 1rem;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    min-height: 45px;
    overflow: hidden;
    cursor: pointer;
}
.custom__payment__box .radio--obselete {
    position: absolute;
    right: 15px;
}
.custom__payment__box label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    z-index: -1;
    cursor: pointer;
}
.custom__payment__box .radio--obselete:checked + label {
    background: #F7F8FF;
}
.detail--wrapper p {
    font-size: .875rem;
    line-height: 1.4;
    margin: 0;
    padding-left: 1rem;
    opacity: .9;
}
.detail--wrapper p + p {
    margin-top: 1rem;
}
.detail--wrapper h4 {
    margin: 15px 0px;
    font-size: 20px;
    font-weight: 600;
    color: #09094D;
    padding-left: 1rem;
}

@media(max-width: 767px) {
    .service--btn.small--btn {
        display: inline-flex;
        justify-content: space-between;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        background-color: #3C65F3;
        border-radius: 50px;
        padding: 7px 10px 7px 21px;
        text-decoration: none;
        line-height: 25px;
    }
    .service--btn.small--btn .circle--shape {
        background-color: #fff;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        margin-left: 10px;
    }   
    .service--btn.small--btn .circle--shape svg {
        width: 6px;
    } 
}

@media(min-width: 768px) {
    .slider__content--title {
        font-size: 32px;
    }
    .addressBox--title {
        font-size: 28px;
    }
    .shape__man {
        max-height: 400px;
        max-width: 100%;
        display: block !important;
        margin-right: 0;
    }
    .pr--30 {
        padding-right: 30%;
    }
    .map__section {
        padding: 40px 0px;
    }
    .addressBox {
        padding-left: 25px;
    }
    .multiple-items ul.slick-dots {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
    }
    .login__wrapperBox {
        padding: 60px;
    }
    .filter-bg {
        position: relative;
        left: 0;
        top: 0;
        height: auto;
        transform: translateX(0);
        padding: 0;
    }
    .filter--btn {
        display: none;
    }
    .display3--heading {
        font-size: 1.5rem;
    }
    .automobile__box::after {
        content: '';
        background: linear-gradient(89.93deg, #FFFFFF 43.83%, rgba(255, 255, 255, 0) 81.69%);
        border-radius: 20px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc(100% - 130px);
    }
    .slick__automobile__box .multiple-items ul.slick-dots {
        justify-content: flex-start;
        padding-left: 20px;
    }
    .table--row th {
        min-width: auto;
    }
    .footer--content [class^="col"]:not(:first-child)::before {
        content: '-';
        position: absolute;
        left: -8px;
        top: 51%;
        transform: translateY(-50%);
        font-size: 22px;
        line-height: 0;
    }
}
@media(min-width: 992px) {
    .slick__automobile__box {
        position: relative;
        max-width: 960px;
    }
    .slick__automobile__box::before, .slick__automobile__box::after {
        bottom: 0px;
    }
    .checkout__product__descbox {
        grid-template-columns: 120px 1fr;
    }
}
@media(min-width: 1200px) {
    .slider__content--title {
        font-size: 42px;
    }
    .multiple-items ul.slick-dots {
        margin-top: 65px;
    }
    .banner__slider__section {
        padding-top: 0px;
    }
    .slider__larger {
        min-height: 350px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        max-width: 100%;
        margin-right: 0;
        margin-left: auto;
    }
    .addressBox--title {
        font-size: 38px;
    }
    .map__section {
        padding: 60px 0px;
    }
    .loginbg__wrapper {
        min-height: 420px;
    }
    .mt-ng-250 {
        margin-top: -370px;
    }
    .login_slider_content {
        min-height: 460px;
    }
    .login_thumbcontent--text {
        font-size: 30px;
    }
    .subheading--text {
        font-size: 1rem;
    }
    .img_blankbox {
        width: 130px;
    }
    .easy_stepperbarbox:not(:last-child)::after {
        top: 40px;
    }
    .img_blankbox > img {
        width: 70px;
        height: 70px;
    }
    .nav-tabs.classic--tabs .nav-link {
        font-size: 15px;
    }
    .nav-tabs.classic--tabs .nav-item {
        width: auto;
        flex-grow: 1;
    }
    .checkout__product__descbox {
        grid-template-columns: 170px 1fr;
    }
    .checkout__product__descbox {
        grid-gap: 1.25rem;
    }
    .checkout--mart .listbox__wrapper__img {
        width: 170px;
        height: 160px;
    }
}

@media(min-width: 1400px) {
    .slider__content--title {
        font-size: 52px;
    }
    .addressBox--title {
        font-size: 48px;
    }
    .img_blankbox > img {
        width: auto;
        height: auto;
    }
}
@media(min-width: 1600px) {
    .login_slider_content {
        min-height: 560px;
    }
    .listbox__wrapper--title {
        font-size: 24px;
    }
    .subheading--text {
        font-size: 1.125rem;
    }
    .display3--heading {
        font-size: 2rem;
    }
    .nav-tabs.classic--tabs .nav-link {
        font-size: 17px;
    }
        .footer--content a {
        font-size: 1rem;
    }
    .footer--content a {
        font-size: 1rem;
    }
    .checkout--mart .shipping--text {
        font-size: 1.6rem !important;
    }
    .checkout--mart .calc--text {
        font-size: 1.85rem !important;
    }
    .checkout--mart .number-style {
        min-width: 125px;
    }
    .checkout--mart .decreaseQty, .checkout--mart .increaseQty {
        width: 2rem;
        height: 2rem;
        font-size: 21px;
    }
    .checkout--mart {
        padding: 1.35rem 1.5rem;
    }
}